<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="row vh-50 g-0">
        <div class="col-lg-6 position-relative d-none d-lg-block">
          <div class="bg-holder" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/105.png);">
          </div>
        </div>
        <div class="col-lg-6">
          <form method="post" id="validate-form" action="/web/auth/signup" class="needs-validation" novalidate="">
            <div class="content">
              <div class="row flex-center h-100 g-0 px-4 px-sm-0"></div>
              <div class="col col-sm-12 col-lg-12 col-xl-12"><a class="d-flex flex-center text-decoration-none mb-4" href="/">
                <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="<%= locals.context %>/asm/assets/img/icons/logo.png" alt="logo" width="100" />
                </div>
            </a>
            <div class="text-center mb-3">
                <h3 class="text-1000">Sign Up to find lifetime Companian!</h3>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <p class="text-700">Vanniyar Thirumana Sevai Maiyam - <a class="fs--1 fw-bold" href="/web/auth/login">Sign In</a></p>
                <%- include('../common/message') %>
            </div>
              <div class="mt-4">
                <div class="row g-4">
                  <div class="col-12 col-xl-12 order-1 order-xl-0">
                    <div class="mb-9">
                      <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                        <div class="card-header p-2 border-bottom border-300 bg-soft">
                          <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                              <h4 class="text-900 mb-0" id="basicDetails">Basic Info</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <div class="collapse code-collapse" id="example-code">
                          </div>
                          <div class="p-4 code-to-copy">
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="fullName">Full Name <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control form-control-sm" id="fullName" name="fullName" type="text" required="" value="test" maxlength="50"/>
                                <div class="invalid-feedback">Please provide full name.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="emailAddress">Email address <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="emailAddress" name="emailAddress" type="email" placeholder="name@example.com" required="" value="test@test.com" maxlength="30"/>
                                <div class="invalid-feedback">Please provide an email address.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="emailAddress">Password <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="password" name="password" type="password" required="" value="test@123" maxlength="20"/>
                                <div class="invalid-feedback">Please provide password.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="confirmPassword">Confirm password <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" required="" value="test@123" maxlength="20"/>
                                <div class="invalid-feedback">Password and confirm password should be same .</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="dateOfBirth">Date of Birth <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control datetimepicker" id="dateOfBirth" name="dateOfBirth" type="text" placeholder="dd/mm/yyyy" data-options='{"required":true,"disableMobile":true,"dateFormat":"d/m/Y"}' required="" value="01/01/1980"/>
                                <div class="invalid-feedback">Please provide date of birth.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="dateOfBirth">Gender <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" aria-label="Choose Gender" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="M">Male</option>
                                  <option value="F">Female</option>
                                </select>
                              </div>
                              <div class="invalid-feedback">Please provide gender.</div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="primaryMobile">Primary Mobile <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="primaryMobile" name="primaryMobile" type="text" required="" value="123123123" maxlength="15"/>
                                <div class="invalid-feedback">Please provide primary mobile number.</div>
                              </div>
                            </div>
                          
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="secondaryMobile">Secondary Mobile <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="secondaryMobile" name="secondaryMobile" type="text" required="" value="234234234" maxlength="15"/>
                                <div class="invalid-feedback">Please provide secondary mobile number.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                        <div class="card-header p-2 border-bottom border-300 bg-soft">
                          <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                              <h4 class="text-900 mb-0" id="familyReligion">Family & Religion Info</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <div class="collapse code-collapse" id="example-code">
                          </div>
                          <div class="p-4 code-to-copy">
                            
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="familyStatus">Family Status <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" id="familyStatus" name="familyStatus" aria-label="Default select example" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="Middle Class">Middle Class</option>
                                  <option value="Upper Middle Class">Upper Middle Class</option>
                                  <option value="Rich">Rich</option>
                                  <option value="Affluent">Affluent</option>
                                </select>
                                <div class="invalid-feedback">Please provide family status.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="familyType">Family Type <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" id="familyType" name="familyType" aria-label="Default select example" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option value="Joint">Joint</option>
                                  <option selected value="Nuclear">Nuclear</option>
                                </select>
                                <div class="invalid-feedback">Please provide family type.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="fatherName">Father Name <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="fatherName" name="fatherName" type="text" required="" value="Father Name"  maxlength="25"/>
                                <div class="invalid-feedback">Please provide father name.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="motherName">Mother Name <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="motherName" name="motherName" type="text" required="" value="Mother Name" maxlength="25"/>
                                <div class="invalid-feedback">Please provide mother name.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="sisters">Sisters</label>
                              <div class="col-sm-10">
                                <select class="form-select" id="sisters" name="sisters" aria-label="Default select example" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  </select>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="brothers">Brothers</label>
                              <div class="col-sm-10">
                                <select class="form-select" id="brothers" name="brothers" aria-label="Default select example" required="">
                                    <option selected="" disabled="" value="">Choose...</option>
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="caste">Caste</label>
                              <div class="col-sm-10">
                                <select class="form-select" id="caste" name="caste" aria-label="Default select example" required="">
                                    <option selected="" disabled="" value="">Choose...</option>
                                    <option selected value="Vanniya Kula Kshatriyar">Vanniya Kula Kshatriyar</option>
                                    <option value="Gounder">Gounder</option>
                                    <option value="Vanniya">Vanniya</option>
                                    <option value="Vannia Gounder">Vannia Gounder</option>
                                  </select>
                                  <div class="invalid-feedback">Please provide caste.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="rasi">Rasi <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" id="rasi" name="rasi" aria-label="Default select example" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="Aries">Aries</option>
                                  <option value="Taurus">Taurus</option>
                                  <option value="Gemini">Gemini</option>
                                  <option value="Cancer">Cancer</option>
                                  <option value="Leo">Leo</option>
                                  <option value="Virgo">Virgo</option>
                                  <option value="Libra">Libra</option>
                                  <option value="Scorpio">Scorpio</option>
                                  <option value="Saggitarius">Saggitarius</option>
                                  <option value="Capricorn">Capricorn</option>
                                  <option value="Aquarius">Aquarius</option>
                                  <option value="Pisces">Pisces</option>                             
                                </select>
                                <div class="invalid-feedback">Please provide rasi.</div>
                              </div>
                            </div>
                            
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="natchathram">Natchathram <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" id="natchathram" name="natchathram" aria-label="Default select example" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="Aswini">Aswini</option>
                                  <option value="Bharani">Bharani</option>
                                  <option value="Karthigai">Karthigai</option>
                                  <option value="Rohini">Rohini</option>
                                  <option value="Mrigasheersham">Mrigasheersham</option>
                                  <option value="Thiruvaathirai">Thiruvaathirai</option>
                                  <option value="Punarpoosam">Punarpoosam</option>
                                  <option value="Poosam">Poosam</option>
                                  <option value="Aayilyam">Aayilyam</option>
                                  <option value="Makam">Makam</option>
                                  <option value="Pooram">Pooram</option>
                                  <option value="Uthiram">Uthiram</option>
                                  <option value="Hastham">Hastham</option>
                                  <option value="Chithirai">Chithirai</option>
                                  <option value="Swaathi">Swaathi</option>
                                  <option value="Visaakam">Visaakam</option>
                                  <option value="Anusham">Anusham</option>
                                  <option value="Kettai">Kettai</option>
                                  <option value="Moolam">Moolam</option>
                                  <option value="Pooraadam">Pooraadam</option>
                                  <option value="Uthiraadam">Uthiraadam</option>
                                  <option value="Thiruvonam">Thiruvonam</option>
                                  <option value="Avittam">Avittam</option>
                                  <option value="Chathayam/Sadayam">Chathayam/Sadayam</option>
                                  <option value="Poorattathi">Poorattathi</option>
                                  <option value="Uthirattathi">Uthirattathi</option>
                                  <option value="Revathi">Revathi</option>
                                </select>
                                <div class="invalid-feedback">Please provide natchathram.</div>
                              </div>
                            </div>
                            
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="lagnam">Lagnam <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" id="lagnam" name="lagnam" aria-label="Default select example" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option value="Aries">Aries</option>
                                  <option value="Taurus">Taurus</option>
                                  <option value="Gemini">Gemini</option>
                                  <option value="Cancer">Cancer</option>
                                  <option selected value="Leo">Leo</option>
                                  <option value="Virgo">Virgo</option>
                                  <option value="Libra">Libra</option>
                                  <option value="Scorpio">Scorpio</option>
                                  <option value="Saggitarius">Saggitarius</option>
                                  <option value="Capricorn">Capricorn</option>
                                  <option value="Aquarius">Aquarius</option>
                                  <option value="Pisces">Pisces</option>                             
                                </select>
                                <div class="invalid-feedback">Please provide lagnam.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="gothram">Gothram</label>
                              <div class="col-sm-10">
                                <input class="form-control" id="gothram" name="gothram" type="text"  value="sdfsdf" maxlength="25"/>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="dosham">Dosham </label>
                              <div class="col-sm-10">
                                <select class="form-select" id="dosham" name="dosham" aria-label="Default select example" required="">
                                  <option selected value="No">No</option>
                                  <option value="Yes">Yes</option>
                                  <option value="Dont Know">Dont Know</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                        <div class="card-header p-2 border-bottom border-300 bg-soft">
                          <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                              <h4 class="text-900 mb-0" id="personalDetails">Personal Info</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <div class="collapse code-collapse" id="example-code">
                          </div>
                          <div class="p-4 code-to-copy">
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" ffor="maritalStatus">Marital status <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" id="maritalStatus" name="maritalStatus" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="NM">Never Married</option>
                                  <option value="D">Divorced</option>
                                  <option value="W">Widowed</option>
                                  <option value="AD">Awaiting Divorce</option>
                                </select>
                                <div class="invalid-feedback">Please provide gender.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="education">Education <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="education" name="education" type="text" required="" value="MCA"  maxlength="50"/>
                                <div class="invalid-feedback">Please provide education.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="height">Height <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="height" name="height" type="text" required="" placeholder="5.8" value="5.8" maxlength="5"/>
                                <div class="invalid-feedback">Please provide height.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="weight">Weight <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="weight" name="weight" type="text" required="" placeholder="kg" value="77" maxlength="3"/>
                                <div class="invalid-feedback">Please provide weight.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="eatingHabit">Eating Habit <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" id="eatingHabit" name="eatingHabit" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option value="Eggetarian">Eggetarian</option>
                                  <option value="Non-Vegetarian">Non-Vegetarian</option>
                                  <option selected value="Vegetarian">Vegetarian</option>
                                </select>
                                <div class="invalid-feedback">Please provide eating habit.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="address">Address <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="address" name="address" type="text" required="" value="1st main st." maxlength="60"/>
                                <div class="invalid-feedback">Please provide address.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="city">City <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="city" name="city" type="text" required="" value="Chennai" maxlength="20"/>
                                <div class="invalid-feedback">Please provide city.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="state">State <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="state" name="state" type="text" required="" value="TN" maxlength="20"/>
                                <input class="form-control" id="country" name="country" type="hidden" value="IN"/>
                                <div class="invalid-feedback">Please provide state.</div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="pincode">Pincode <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="pincode" name="pincode" type="text" required="" value="606601" maxlength="8"/>
                                <div class="invalid-feedback">Please provide pincode.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                        <div class="card-header p-2 border-bottom border-300 bg-soft">
                          <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                              <h4 class="text-900 mb-0" id="professionDetails">Profession Info</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <div class="collapse code-collapse" id="example-code">
                          </div>
                          <div class="p-4 code-to-copy">
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="occupation">Occupation <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" aria-label="Choose Occupation" id="occupation" name="occupation" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="Administration">Administration</option>
                                  <option value="Agriculture">Agriculture</option>
                                  <option value="Airline">Airline</option>
                                  <option value="Architecture & Design">Architecture & Design</option>
                                  <option value="Banking & Finance">Banking & Finance</option>
                                  <option value="BPO & Customer Service">BPO & Customer Service</option>
                                  <option value="Corporate Professionals">Corporate Professionals</option>
                                  <option value="Doctor">Doctor</option>
                                  <option value="Education & Training">Education & Training</option>
                                  <option value="Engineering">Engineering</option>
                                  <option value="Hospitality">Hospitality</option>
                                  <option value="IT & Software">IT & Software</option>
                                  <option value="Legal">Legal</option>
                                  <option value="Media & Entertainment">Media & Entertainment</option>
                                  <option value="Medical & Healthcare">Medical & Healthcare</option>
                                  <option value="Police / Law Enforcement">Police / Law Enforcement</option>
                                  <option value="Scientist">Scientist</option>
                                  <option value="Others">Others</option>
                                </select>
                                <div class="invalid-feedback">Please provide occupation.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="employed">Employed in <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" aria-label="Choose Occupation" id="employed" name="employed" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option selected value="Business">Business</option>
                                  <option value="Defence">Defence</option>
                                  <option value="Government/PSU">Government/PSU</option>
                                  <option value="Private">Private</option>
                                  <option value="Self Employed">Self Employed</option>
                                  <option value="Not Working">Not Working</option>
                                </select>
                                <div class="invalid-feedback">Please provide work company.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="annualIncome">Annual Income <code>*</code></label>
                              <div class="col-sm-10">
                                <input class="form-control" id="annualIncome" name="annualIncome" type="text" required="" placeholder="500000" value="500000"/>
                                <div class="invalid-feedback">Please provide annual income.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="workLocation">Work Location <code>*</code></label>
                              <div class="col-sm-10">
                                <select class="form-select" aria-label="Choose Work Location" id="workLocation" name="workLocation" required="">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option value="Afghanistan">Afghanistan</option>
                                  <option value="Albania">Albania</option>
                                  <option value="Algeria">Algeria</option>
                                  <option value="Andorra">Andorra</option>
                                  <option value="Angola">Angola</option>
                                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                  <option value="Argentina">Argentina</option>
                                  <option value="Armenia">Armenia</option>
                                  <option value="Australia">Australia</option>
                                  <option value="Austria">Austria</option>
                                  <option value="Azerbaijan">Azerbaijan</option>
                                  <option value="Bahamas">Bahamas</option>
                                  <option value="Bahrain">Bahrain</option>
                                  <option value="Bangladesh">Bangladesh</option>
                                  <option value="Barbados">Barbados</option>
                                  <option value="Belarus">Belarus</option>
                                  <option value="Belgium">Belgium</option>
                                  <option value="Belize">Belize</option>
                                  <option value="Benin">Benin</option>
                                  <option value="Bhutan">Bhutan</option>
                                  <option value="Bolivia">Bolivia</option>
                                  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                  <option value="Botswana">Botswana</option>
                                  <option value="Brazil">Brazil</option>
                                  <option value="Brunei">Brunei</option>
                                  <option value="Bulgaria">Bulgaria</option>
                                  <option value="Burkina Faso">Burkina Faso</option>
                                  <option value="Burundi">Burundi</option>
                                  <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                                  <option value="Cabo Verde">Cabo Verde</option>
                                  <option value="Cambodia">Cambodia</option>
                                  <option value="Cameroon">Cameroon</option>
                                  <option value="Canada">Canada</option>
                                  <option value="Central African Republic">Central African Republic</option>
                                  <option value="Chad">Chad</option>
                                  <option value="Chile">Chile</option>
                                  <option value="China">China</option>
                                  <option value="Colombia">Colombia</option>
                                  <option value="Comoros">Comoros</option>
                                  <option value="Congo (Congo-Brazzaville)">Congo (Congo-Brazzaville)</option>
                                  <option value="Costa Rica">Costa Rica</option>
                                  <option value="Croatia">Croatia</option>
                                  <option value="Cuba">Cuba</option>
                                  <option value="Cyprus">Cyprus</option>
                                  <option value="Czechia (Czech Republic)">Czechia (Czech Republic)</option>
                                  <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                  <option value="Denmark">Denmark</option>
                                  <option value="Djibouti">Djibouti</option>
                                  <option value="Dominica">Dominica</option>
                                  <option value="Dominican Republic">Dominican Republic</option>
                                  <option value="Ecuador">Ecuador</option>
                                  <option value="Egypt">Egypt</option>
                                  <option value="El Salvador">El Salvador</option>
                                  <option value="Equatorial Guinea">Equatorial Guinea</option>
                                  <option value="Eritrea">Eritrea</option>
                                  <option value="Estonia">Estonia</option>
                                  <option value="Eswatini (fmr. "Swaziland")">Eswatini (fmr. "Swaziland")</option>
                                  <option value="Ethiopia">Ethiopia</option>
                                  <option value="Fiji">Fiji</option>
                                  <option value="Finland">Finland</option>
                                  <option value="France">France</option>
                                  <option value="Gabon">Gabon</option>
                                  <option value="Gambia">Gambia</option>
                                  <option value="Georgia">Georgia</option>
                                  <option value="Germany">Germany</option>
                                  <option value="Ghana">Ghana</option>
                                  <option value="Greece">Greece</option>
                                  <option value="Grenada">Grenada</option>
                                  <option value="Guatemala">Guatemala</option>
                                  <option value="Guinea">Guinea</option>
                                  <option value="Guinea-Bissau">Guinea-Bissau</option>
                                  <option value="Guyana">Guyana</option>
                                  <option value="Haiti">Haiti</option>
                                  <option value="Holy See">Holy See</option>
                                  <option value="Honduras">Honduras</option>
                                  <option value="Hungary">Hungary</option>
                                  <option value="Iceland">Iceland</option>
                                  <option selected value="India">India</option>
                                  <option value="Indonesia">Indonesia</option>
                                  <option value="Iran">Iran</option>
                                  <option value="Iraq">Iraq</option>
                                  <option value="Ireland">Ireland</option>
                                  <option value="Israel">Israel</option>
                                  <option value="Italy">Italy</option>
                                  <option value="Jamaica">Jamaica</option>
                                  <option value="Japan">Japan</option>
                                  <option value="Jordan">Jordan</option>
                                  <option value="Kazakhstan">Kazakhstan</option>
                                  <option value="Kenya">Kenya</option>
                                  <option value="Kiribati">Kiribati</option>
                                  <option value="Kuwait">Kuwait</option>
                                  <option value="Kyrgyzstan">Kyrgyzstan</option>
                                  <option value="Laos">Laos</option>
                                  <option value="Latvia">Latvia</option>
                                  <option value="Lebanon">Lebanon</option>
                                  <option value="Lesotho">Lesotho</option>
                                  <option value="Liberia">Liberia</option>
                                  <option value="Libya">Libya</option>
                                  <option value="Liechtenstein">Liechtenstein</option>
                                  <option value="Lithuania">Lithuania</option>
                                  <option value="Luxembourg">Luxembourg</option>
                                  <option value="Madagascar">Madagascar</option>
                                  <option value="Malawi">Malawi</option>
                                  <option value="Malaysia">Malaysia</option>
                                  <option value="Maldives">Maldives</option>
                                  <option value="Mali">Mali</option>
                                  <option value="Malta">Malta</option>
                                  <option value="Marshall Islands">Marshall Islands</option>
                                  <option value="Mauritania">Mauritania</option>
                                  <option value="Mauritius">Mauritius</option>
                                  <option value="Mexico">Mexico</option>
                                  <option value="Micronesia">Micronesia</option>
                                  <option value="Moldova">Moldova</option>
                                  <option value="Monaco">Monaco</option>
                                  <option value="Mongolia">Mongolia</option>
                                  <option value="Montenegro">Montenegro</option>
                                  <option value="Morocco">Morocco</option>
                                  <option value="Mozambique">Mozambique</option>
                                  <option value="Myanmar (formerly Burma)">Myanmar (formerly Burma)</option>
                                  <option value="Namibia">Namibia</option>
                                  <option value="Nauru">Nauru</option>
                                  <option value="Nepal">Nepal</option>
                                  <option value="Netherlands">Netherlands</option>
                                  <option value="New Zealand">New Zealand</option>
                                  <option value="Nicaragua">Nicaragua</option>
                                  <option value="Niger">Niger</option>
                                  <option value="Nigeria">Nigeria</option>
                                  <option value="North Korea">North Korea</option>
                                  <option value="North Macedonia">North Macedonia</option>
                                  <option value="Norway">Norway</option>
                                  <option value="Oman">Oman</option>
                                  <option value="Pakistan">Pakistan</option>
                                  <option value="Palau">Palau</option>
                                  <option value="Palestine State">Palestine State</option>
                                  <option value="Panama">Panama</option>
                                  <option value="Papua New Guinea">Papua New Guinea</option>
                                  <option value="Paraguay">Paraguay</option>
                                  <option value="Peru">Peru</option>
                                  <option value="Philippines">Philippines</option>
                                  <option value="Poland">Poland</option>
                                  <option value="Portugal">Portugal</option>
                                  <option value="Qatar">Qatar</option>
                                  <option value="Romania">Romania</option>
                                  <option value="Russia">Russia</option>
                                  <option value="Rwanda">Rwanda</option>
                                  <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                  <option value="Saint Lucia">Saint Lucia</option>
                                  <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                  <option value="Samoa">Samoa</option>
                                  <option value="San Marino">San Marino</option>
                                  <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                  <option value="Saudi Arabia">Saudi Arabia</option>
                                  <option value="Senegal">Senegal</option>
                                  <option value="Serbia">Serbia</option>
                                  <option value="Seychelles">Seychelles</option>
                                  <option value="Sierra Leone">Sierra Leone</option>
                                  <option value="Singapore">Singapore</option>
                                  <option value="Slovakia">Slovakia</option>
                                  <option value="Slovenia">Slovenia</option>
                                  <option value="Solomon Islands">Solomon Islands</option>
                                  <option value="Somalia">Somalia</option>
                                  <option value="South Africa">South Africa</option>
                                  <option value="South Korea">South Korea</option>
                                  <option value="South Sudan">South Sudan</option>
                                  <option value="Spain">Spain</option>
                                  <option value="Sri Lanka">Sri Lanka</option>
                                  <option value="Sudan">Sudan</option>
                                  <option value="Suriname">Suriname</option>
                                  <option value="Sweden">Sweden</option>
                                  <option value="Switzerland">Switzerland</option>
                                  <option value="Syria">Syria</option>
                                  <option value="Tajikistan">Tajikistan</option>
                                  <option value="Tanzania">Tanzania</option>
                                  <option value="Thailand">Thailand</option>
                                  <option value="Timor-Leste">Timor-Leste</option>
                                  <option value="Togo">Togo</option>
                                  <option value="Tonga">Tonga</option>
                                  <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                  <option value="Tunisia">Tunisia</option>
                                  <option value="Turkey">Turkey</option>
                                  <option value="Turkmenistan">Turkmenistan</option>
                                  <option value="Tuvalu">Tuvalu</option>
                                  <option value="Uganda">Uganda</option>
                                  <option value="Ukraine">Ukraine</option>
                                  <option value="United Arab Emirates">United Arab Emirates</option>
                                  <option value="United Kingdom">United Kingdom</option>
                                  <option value="United States of America">United States of America</option>
                                  <option value="Uruguay">Uruguay</option>
                                  <option value="Uzbekistan">Uzbekistan</option>
                                  <option value="Vanuatu">Vanuatu</option>
                                  <option value="Venezuela">Venezuela</option>
                                  <option value="Vietnam">Vietnam</option>
                                  <option value="Yemen">Yemen</option>
                                  <option value="Zambia">Zambia</option>
                                  <option value="Zimbabwe">Zimbabwe</option>
                                </select>
                                <div class="invalid-feedback">Please provide work location.</div>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="workState">State </label>
                              <div class="col-sm-10">
                                <input class="form-control" id="workState" name="workState" type="text" maxlength="30"/>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="workCity">City </label>
                              <div class="col-sm-10">
                                <input class="form-control" id="workCity" name="workCity" type="text" maxlength="30"/>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="residentStatus">Resident Status </label>
                              <div class="col-sm-10">
                                <select class="form-select" aria-label="Choose Resident Status" id="residentStatus" name="residentStatus">
                                  <option selected="" disabled="" value="">Choose...</option>
                                  <option value="Permanent Resident">Permanent Resident</option>
                                  <option value="Work Permit">Work Permit</option>
                                  <option value="Student Visa">Student Visa</option>
                                  <option value="Temporary Visa">Temporary Visa</option>
                                  <option value="Citizen">Citizen</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                        <div class="card-header p-2 border-bottom border-300 bg-soft">
                          <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                              <h4 class="text-900 mb-0" id="profile">Profile Info</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-0">
                          <div class="collapse code-collapse" id="file-input-code">
                          </div>
                          <div class="p-4 code-to-copy">
                            <!-- <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="photo">Photo</label>
                              <div class="col-sm-10">
                                <input class="form-control" id="photo" name="photo" type="file" multiple="multiple">
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="jathagam">Jadhagam</label>
                              <div class="col-sm-10">
                                <input class="form-control" id="jadhagam" name="jadhagam" type="file">
                              </div>
                            </div> -->
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="description">Profile Description</label>
                              <div class="col-sm-10">
                                <textarea class="form-control" id="description" name="description" rows="3" maxlength="100"> some desc</textarea>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="disabilityDescription">If any Disability? Add Description</label>
                              <div class="col-sm-10">
                                <textarea class="form-control" id="disabilityDescription" name="disabilityDescription" rows="3" maxlength="100"> disability desc</textarea>
                              </div>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-2 col-form-label col-form-label-sm" for="submit"></label>
                              <div class="col-sm-10">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
                <div class="toast align-items-center text-white bg-dark border-0 light" id="icon-copied-toast" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="d-flex">
                    <div class="toast-body p-3"></div>
                    <button class="btn-close btn-close-white me-2 m-auto" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </form>
        </div>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>
      <div class="support-chat-container">
        <div class="container-fluid support-chat">
          <div class="card bg-white">
            <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom">
              <h5 class="mb-0 d-flex align-items-center gap-2">Demo widget<span class="fa-solid fa-circle text-success fs--3"></span></h5>
              <div class="btn-reveal-trigger">
                <button class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-900"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="#!">Request a callback</a><a class="dropdown-item" href="#!">Search in chat</a><a class="dropdown-item" href="#!">Show history</a><a class="dropdown-item" href="#!">Report to Admin</a><a class="dropdown-item btn-support-chat" href="#!">Close Support</a></div>
              </div>
            </div>
            <div class="card-body chat p-0">
              <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
                <div class="text-end mt-6"><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-1100 hover-bg-soft rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semi-bold fs--1">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs--1 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-1100 hover-bg-soft rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semi-bold fs--1">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs--1 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-1100 hover-bg-soft rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semi-bold fs--1">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs--1 ms-3"></span>
                  </a><a class="false d-inline-flex align-items-center text-decoration-none text-1100 hover-bg-soft rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semi-bold fs--1">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs--1 ms-3"></span>
                  </a>
                </div>
                <div class="text-center mt-auto">
                  <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-white" src="<%= locals.context %>/asm/assets/img/team/30.webp" alt="" /></div>
                  <h5 class="mt-2 mb-3">Eric</h5>
                  <p class="text-center text-black mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center gap-2 border-top ps-3 pe-4 py-3">
              <div class="d-flex align-items-center flex-1 gap-3 border rounded-pill px-4">
                <input class="form-control outline-none border-0 flex-1 fs--1 px-0" type="text" placeholder="Write message" />
                <label class="btn btn-link d-flex p-0 text-500 fs--1 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label>
                <input class="d-none" type="file" accept="image/*" id="supportChatPhotos" />
                <label class="btn btn-link d-flex p-0 text-500 fs--1 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label>
                <input class="d-none" type="file" id="supportChatAttachment" />
              </div>
              <button class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs--1"></span></button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
      <div class="offcanvas-header align-items-start border-bottom flex-column">
        <div class="pt-1 w-100 mb-6 d-flex justify-content-between align-items-start">
          <div>
            <h5 class="mb-2 me-2 lh-sm"><span class="fas fa-palette me-2 fs-0"></span>Theme Customizer</h5>
            <p class="mb-0 fs--1">Explore different styles according to your preferences</p>
          </div>
          <button class="btn p-1 fw-bolder" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fas fa-times fs-0"> </span></button>
        </div>
        <button class="btn btn-phoenix-secondary w-100" data-theme-control="reset"><span class="fas fa-arrows-rotate me-2 fs--2"></span>Reset to default</button>
      </div>
      <div class="offcanvas-body scrollbar px-card" id="themeController">
        <div class="setting-panel-item mt-0">
          <h5 class="setting-panel-item-title">Color Scheme</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="themeSwitcherLight" name="theme-color" type="radio" value="light" data-theme-control="phoenixTheme" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherLight"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="<%= locals.context %>/asm/assets/img/generic/default-light.png" alt=""/></span><span class="label-text">Light</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="themeSwitcherDark" name="theme-color" type="radio" value="dark" data-theme-control="phoenixTheme" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherDark"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="<%= locals.context %>/asm/assets/img/generic/default-dark.png" alt=""/></span><span class="label-text"> Dark</span></label>
            </div>
          </div>
        </div>
        <div class="border rounded-3 p-4 setting-panel-item bg-white">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">RTL </h5>
            <div class="form-check form-switch mb-0">
              <input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixIsRTL" />
            </div>
          </div>
          <p class="mb-0 text-700">Change text direction</p>
        </div>
        <div class="border rounded-3 p-4 setting-panel-item bg-white">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">Support Chat </h5>
            <div class="form-check form-switch mb-0">
              <input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixSupportChat" />
            </div>
          </div>
          <p class="mb-0 text-700">Toggle support chat</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Navigation Type</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbarPositionVertical" name="navigation-type" type="radio" value="vertical" data-theme-control="phoenixNavbarPosition" data-page-url="../../../documentation/layouts/vertical-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionVertical"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="<%= locals.context %>/asm/assets/img/generic/default-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="<%= locals.context %>/asm/assets/img/generic/default-dark.png" alt=""/></span><span class="label-text">Vertical</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarPositionHorizontal" name="navigation-type" type="radio" value="horizontal" data-theme-control="phoenixNavbarPosition" data-page-url="../../../documentation/layouts/horizontal-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionHorizontal"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="<%= locals.context %>/asm/assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="<%= locals.context %>/asm/assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text"> Horizontal</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarPositionCombo" name="navigation-type" type="radio" value="combo" data-theme-control="phoenixNavbarPosition" data-page-url="../../../documentation/layouts/combo-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionCombo"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="<%= locals.context %>/asm/assets/img/generic/nav-combo-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="<%= locals.context %>/asm/assets/img/generic/nav-combo-dark.png" alt=""/></span><span class="label-text"> Combo</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarPositionTopDouble" name="navigation-type" type="radio" value="dual-nav" data-theme-control="phoenixNavbarPosition" data-page-url="../../../documentation/layouts/dual-nav.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionTopDouble"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="<%= locals.context %>/asm/assets/img/generic/dual-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="<%= locals.context %>/asm/assets/img/generic/dual-dark.png" alt=""/></span><span class="label-text"> Dual nav</span></label>
            </div>
          </div>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Vertical Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbar-style-default" type="radio" name="config.name" value="default" data-theme-control="phoenixNavbarVerticalStyle" />
              <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-default"> <img class="img-fluid img-prototype d-dark-none" src="<%= locals.context %>/asm/assets/img/generic/default-light.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="<%= locals.context %>/asm/assets/img/generic/default-dark.png" alt="" /><span class="label-text d-dark-none"> Default</span><span class="label-text d-light-none">Default</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbar-style-dark" type="radio" name="config.name" value="darker" data-theme-control="phoenixNavbarVerticalStyle" />
              <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-dark"> <img class="img-fluid img-prototype d-dark-none" src="<%= locals.context %>/asm/assets/img/generic/vertical-darker.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="<%= locals.context %>/asm/assets/img/generic/vertical-lighter.png" alt="" /><span class="label-text d-dark-none"> Darker</span><span class="label-text d-light-none">Lighter</span></label>
            </div>
          </div>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Shape</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbarShapeDefault" name="navbar-shape" type="radio" value="default" data-theme-control="phoenixNavbarTopShape" data-page-url="../../../documentation/layouts/horizontal-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarShapeDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text">Default</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarShapeSlim" name="navbar-shape" type="radio" value="slim" data-theme-control="phoenixNavbarTopShape" data-page-url="../../../documentation/layouts/horizontal-navbar.html#horizontal-navbar-slim" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarShapeSlim"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/top-slim.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/top-slim-dark.png" alt=""/></span><span class="label-text"> Slim</span></label>
            </div>
          </div>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbarTopDefault" name="navbar-top-style" type="radio" value="default" data-theme-control="phoenixNavbarTopStyle" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarTopDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/top-style-darker.png" alt=""/></span><span class="label-text">Default</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarTopDarker" name="navbar-top-style" type="radio" value="darker" data-theme-control="phoenixNavbarTopStyle" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarTopDarker"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/navbar-top-style-light.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="<%= locals.context %>/asm/assets/img/generic/top-style-lighter.png" alt=""/></span><span class="label-text d-dark-none">Darker</span><span class="label-text d-light-none">Lighter</span></label>
            </div>
          </div>
        </div><a class="bun btn-primary d-grid mb-3 text-white dark__text-100 mt-5 btn btn-primary" href="https://themes.getbootstrap.com/product/phoenix-admin-dashboard-webapp-template/" target="_blank">Purchase template</a>
      </div>
    </div><a class="card setting-toggle" href="#settings-offcanvas" data-bs-toggle="offcanvas">
      <div class="card-body d-flex align-items-center px-2 py-1">
        <div class="position-relative rounded-start" style="height:34px;width:28px">
          <div class="settings-popover"><span class="ripple"><span class="fa-spin position-absolute all-0 d-flex flex-center"><span class="icon-spin position-absolute all-0 d-flex flex-center">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.7369 12.3941L19.1989 12.1065C18.4459 11.7041 18.0843 10.8487 18.0843 9.99495C18.0843 9.14118 18.4459 8.28582 19.1989 7.88336L19.7369 7.59581C19.9474 7.47484 20.0316 7.23291 19.9474 7.03131C19.4842 5.57973 18.6843 4.28943 17.6738 3.20075C17.5053 3.03946 17.2527 2.99914 17.0422 3.12011L16.393 3.46714C15.6883 3.84379 14.8377 3.74529 14.1476 3.3427C14.0988 3.31422 14.0496 3.28621 14.0002 3.25868C13.2568 2.84453 12.7055 2.10629 12.7055 1.25525V0.70081C12.7055 0.499202 12.5371 0.297594 12.2845 0.257272C10.7266 -0.105622 9.16879 -0.0653007 7.69516 0.257272C7.44254 0.297594 7.31623 0.499202 7.31623 0.70081V1.23474C7.31623 2.09575 6.74999 2.8362 5.99824 3.25599C5.95774 3.27861 5.91747 3.30159 5.87744 3.32493C5.15643 3.74527 4.26453 3.85902 3.53534 3.45302L2.93743 3.12011C2.72691 2.99914 2.47429 3.03946 2.30587 3.20075C1.29538 4.28943 0.495411 5.57973 0.0322686 7.03131C-0.051939 7.23291 0.0322686 7.47484 0.242788 7.59581L0.784376 7.8853C1.54166 8.29007 1.92694 9.13627 1.92694 9.99495C1.92694 10.8536 1.54166 11.6998 0.784375 12.1046L0.242788 12.3941C0.0322686 12.515 -0.051939 12.757 0.0322686 12.9586C0.495411 14.4102 1.29538 15.7005 2.30587 16.7891C2.47429 16.9504 2.72691 16.9907 2.93743 16.8698L3.58669 16.5227C4.29133 16.1461 5.14131 16.2457 5.8331 16.6455C5.88713 16.6767 5.94159 16.7074 5.99648 16.7375C6.75162 17.1511 7.31623 17.8941 7.31623 18.7552V19.2891C7.31623 19.4425 7.41373 19.5959 7.55309 19.696C7.64066 19.7589 7.74815 19.7843 7.85406 19.8046C9.35884 20.0925 10.8609 20.0456 12.2845 19.7729C12.5371 19.6923 12.7055 19.4907 12.7055 19.2891V18.7346C12.7055 17.8836 13.2568 17.1454 14.0002 16.7312C14.0496 16.7037 14.0988 16.6757 14.1476 16.6472C14.8377 16.2446 15.6883 16.1461 16.393 16.5227L17.0422 16.8698C17.2527 16.9907 17.5053 16.9504 17.6738 16.7891C18.7264 15.7005 19.4842 14.4102 19.9895 12.9586C20.0316 12.757 19.9474 12.515 19.7369 12.3941ZM10.0109 13.2005C8.1162 13.2005 6.64257 11.7893 6.64257 9.97478C6.64257 8.20063 8.1162 6.74905 10.0109 6.74905C11.8634 6.74905 13.3792 8.20063 13.3792 9.97478C13.3792 11.7893 11.8634 13.2005 10.0109 13.2005Z" fill="#2A7BE4"></path>
                  </svg></span></span></span></div>
        </div><small class="text-uppercase text-700 fw-bold py-2 pe-2 ps-1 rounded-end">customize</small>
      </div>
    </a>

  </body>