<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <%- include('partials/inner/header') %>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

		<%- include('partials/inner/side') %>
	  
		<%- include('partials/inner/nav') %>

		<%- include('partials/inner/modal') %>

      <div class="content content-holder">
		<script type="text/javascript">
			$('.content-holder').LoadingOverlay("show", {
				image       : "<svg class=\"sg-loader is-large\"><rect class=\"logo-square bottom-left\" width=\"20\" height=\"20\" /><rect class=\"logo-square bottom-middle\" width=\"20\" height=\"20\" /><rect class=\"logo-square middle\" width=\"20\" height=\"20\" /><rect class=\"logo-square top-middle\" width=\"20\" height=\"20\" /><rect class=\"logo-square top-right\" width=\"20\" height=\"20\" /><rect class=\"logo-square middle-left\" width=\"20\" height=\"20\" /><rect class=\"logo-square middle-right\" width=\"20\" height=\"20\" /></svg>",
				imageAnimation : "0ms",
				imageColor : "",
				background : "rgba(255, 255, 255, 0.9)"  
			});
		</script>
        <%- body %>
      </div>

	  <%- include('partials/inner/footer') %>
	  <script type="text/javascript">
		$('.content-holder').LoadingOverlay("hide");
	</script>
  </body>

</html>