<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  <head>
    <%- include('partials/inner/header') %>
  </head>
  <body class="config--vertical config--borderLess menu-left--colorful menu-left--shadow theme--light">
	<div class="modal fade modal-size-large" id="dynamic-modal" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="modal-title"></h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body" id="modal-container">
	                <div class="loader-wrapper">
						<div class="loader-container">
							<div class="ball-grid-pulse loader-primary">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div> Loading...
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>

    <%- include('partials/inner/side') %>

    <%- include('partials/inner/nav') %>

	<div class="content-holder">
		<script type="text/javascript">
			$('.content-holder').LoadingOverlay("show", {
				image       : "<svg class=\"sg-loader is-large\"><rect class=\"logo-square bottom-left\" width=\"20\" height=\"20\" /><rect class=\"logo-square bottom-middle\" width=\"20\" height=\"20\" /><rect class=\"logo-square middle\" width=\"20\" height=\"20\" /><rect class=\"logo-square top-middle\" width=\"20\" height=\"20\" /><rect class=\"logo-square top-right\" width=\"20\" height=\"20\" /><rect class=\"logo-square middle-left\" width=\"20\" height=\"20\" /><rect class=\"logo-square middle-right\" width=\"20\" height=\"20\" /></svg>",
				imageAnimation : "0ms",
				imageColor : "",
				background : "rgba(255, 255, 255, 0.9)"  
			});
		</script>
		<%- body %>
	</div>

	<%- include('partials/inner/footer') %>
	<script type="text/javascript">
		$('.content-holder').LoadingOverlay("hide");
	</script>

  </body>
</html>
