<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Vanniyar Thirumana Sevai Maiyam</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= locals.context %>/asm/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= locals.context %>/asm/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= locals.context %>/asm/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="<%= locals.context %>/asm/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="<%= locals.context %>/asm/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="<%= locals.context %>/asm/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="<%= locals.context %>/asm/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/simplebar/simplebar.min.js"></script>
    <script src="<%= locals.context %>/asm/assets/js/config.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="<%= locals.context %>/asm/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="<%= locals.context %>/asm/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="<%= locals.context %>/asm/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="<%= locals.context %>/asm/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="<%= locals.context %>/asm/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <link href="<%= locals.context %>/asm/assets/css/asm.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="alternate-landing" style="--phoenix-scroll-margin-top: 1.2rem;">
      <div class="bg-white sticky-top landing-navbar" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
        <nav class="navbar navbar-expand-lg container-small px-3 px-lg-7 px-xxl-3"><a class="navbar-brand flex-1 flex-lg-grow-0" href="#">
            <div class="d-flex align-items-center"><img src="<%= locals.context %>/asm/assets/img/icons/logo.png" alt="vtsm" width="125" />
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3 active" aria-current="page" href="#">Home</a></li>
              <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3" href="#gallery">Gallery</a></li>
              <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3" href="#testimonial">Testimonial</a></li>
              <li class="nav-item"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3" href="#subscribe">Subscribe</a></li>
            </ul>
            <div class="d-grid d-lg-flex align-items-center">
              <a class="btn btn-link text-900 order-1 order-lg-0 ps-4 me-lg-2" href="/web/auth/login">Sign in</a>
              <a class="btn btn-primary order-0" href="web/auth/signup"><span class="fw-bold">Sign Up</span></a>
            </div>
          </div>
        </nav>
      </div>
      <div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
        <div class="modal-dialog">
          <div class="modal-content mt-15 rounded-pill">
            <div class="modal-body p-0">
              <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}' style="width: auto;">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                  <input class="form-control search-input fuzzy-search rounded-pill form-control-lg" type="search" placeholder="Search..." aria-label="Search" />
                  <span class="fas fa-search search-box-icon"></span>

                </form>
                <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
                  <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
                </div>
                <div class="dropdown-menu border border-300 font-base start-0 py-0 overflow-hidden w-100">
                  <div class="scrollbar-overlay" style="max-height: 30rem;">
                    <div class="list pb-3">
                      <h6 class="dropdown-header text-1000 fs--2 py-2">24 <span class="text-500">results</span></h6>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Recently Searched </h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Store Macbook</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> MacBook Air - 13″</div>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Products</h6>
                      <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="file-thumbnail me-2"><img class="h-100 w-100 fit-cover rounded-3" src="<%= locals.context %>/asm/assets/img/products/60x60/3.png" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">MacBook Air - 13″</h6>
                            <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                          </div>
                        </a>
                        <a class="dropdown-item py-2 d-flex align-items-center" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="file-thumbnail me-2"><img class="img-fluid" src="<%= locals.context %>/asm/assets/img/products/60x60/3.png" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">MacBook Pro - 13″</h6>
                            <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Quick Links</h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Support MacBook House</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Files</h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-solid fa-file-zipper text-900" data-fa-transform="shrink-2"></span> Library MacBook folder.rar</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-file-lines text-900" data-fa-transform="shrink-2"></span> Feature MacBook extensions.txt</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-image text-900" data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg</div>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Members</h6>
                      <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="../../pages/members.html">
                          <div class="avatar avatar-l status-online  me-2 text-900">
                            <img class="rounded-circle " src="<%= locals.context %>/asm/assets/img/team/40x40/10.webp" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">Carry Anna</h6>
                            <p class="fs--2 mb-0 d-flex text-700">anna@technext.it</p>
                          </div>
                        </a>
                        <a class="dropdown-item py-2 d-flex align-items-center" href="../../pages/members.html">
                          <div class="avatar avatar-l  me-2 text-900">
                            <img class="rounded-circle " src="<%= locals.context %>/asm/assets/img/team/40x40/12.webp" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">John Smith</h6>
                            <p class="fs--2 mb-0 d-flex text-700">smith@technext.it</p>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Related Searches</h6>
                      <div class="py-2"><a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-brands fa-firefox-browser text-900" data-fa-transform="shrink-2"></span> Search in the Web MacBook</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="../../apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-brands fa-chrome text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                          </div>
                        </a>

                      </div>
                    </div>
                    <div class="text-center">
                      <p class="fallback fw-bold fs-1 d-none">No Result Found.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="pb-8 overflow-hidden" id="home">
        <div class="hero-header-container-alternate position-relative">
          <div class="px-lg-7 px-xxl-3">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 pt-8 pb-6 position-relative z-index-5 text-center text-lg-start">
                <h1 class="fs-5 fs-md-6 fs-xl-7 fw-black mb-4"><span class="text-gradient-info me-3">Elegance</span>for<br />your web app</h1>
                <p class="mb-5 pe-xl-10">Standard, modern and Elegant solution for your next web app so you don’t have to look further. Sign up or check the demo below.</p><a class="btn btn-lg btn-primary rounded-pill me-3" href="#!" role="button">Sign up</a><a class="btn btn-link me-2 fs-0 p-0" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2 fs--1"></span></a>
              </div>
              <div class="col-12 col-lg-auto d-none d-lg-block">
                <div class="hero-image-container position-absolute h-100 end-0 d-flex align-items-center">
                  <div class="position-relative">
                    <div class="position-absolute end-0 hero-image-container-overlay" style="transform: skewY(-8deg)."></div><img class="position-absolute end-0 hero-image-container-bg" src="<%= locals.context %>/asm/assets/img/bg/bg-36.png" alt="" /><img class="w-100 d-dark-none rounded-2 hero-image-shadow" src="<%= locals.context %>/asm/assets/img/bg/bg-34.png" alt="hero-header" /><img class="w-100 d-light-none rounded-2 hero-image-shadow" src="<%= locals.context %>/asm/assets/img/bg/bg-35.png" alt="hero-header" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-md-8 mb-8 d-lg-none">
            <div class="position-relative">
              <div class="position-absolute end-0 hero-image-container-overlay"></div><img class="position-absolute top-50 hero-image-container-bg" src="<%= locals.context %>/asm/assets/img/bg/bg-39.png" alt="" /><img class="img-fluid ms-auto d-dark-none rounded-2 hero-image-shadow" src="<%= locals.context %>/asm/assets/img/bg/bg-34.png" alt="hero-header" /><img class="img-fluid ms-auto d-light-none rounded-2 hero-image-shadow" src="<%= locals.context %>/asm/assets/img/bg/bg-35.png" alt="hero-header" />
            </div>
          </div>
        </div>
      </section>  
     
      <section class="gallery">
        <div class="position-absolute left-0 w-100 gallery-overlay"></div>
        <div class="bg-holder d-none d-xl-block" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/bg-left-26.png);background-size:auto;background-position:left 65%;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder d-none d-xl-block" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/bg-right-26.png);background-size:auto;background-position:right 62%;">
        </div>
        <!--/.bg-holder-->

        <div class="position-relative px-lg-7 px-xxl-3">
          <div class="text-center mb-7">
            <h5 class="text-info mb-3">Gallery</h5>
            <h2 class="mb-2">Our best matches</h2>
          </div>
          <ul class="nav font-sans-serif mb-6 w-max-content mx-auto" data-filter-nav="data-filter-nav">
            <li class="nav-item"><a class="isotope-nav cursor-pointer active" data-filter="*">All</a></li>
            <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".second">Second</a></li>
            <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".third">Third</a></li>
            <li class="nav-item"> <a class="isotope-nav cursor-pointer" data-filter=".fourth">Fourth</a></li>
          </ul>
          <div class="row g-3" id="image_gallery" data-sl-isotope='{"layoutMode":"packery"}'>
            <div class="col-6 col-md-4 px-2 isotope-item fourth"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/27.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/27.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/28.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/28.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/29.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/29.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/30.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/30.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/31.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/31.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/32.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/32.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 px-2 isotope-item fourth"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/33.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/33.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="<%= locals.context %>/asm/assets/img/gallery/34.png"><img class="rounded img-fluid w-100" src="<%= locals.context %>/asm/assets/img/gallery/34.png" alt="" /></a>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-14 overflow-x-hidden" id="testimonial">

        <div class="px-lg-7 px-xxl-3">
          <div class="text-center mb-5 position-relative">
            <h5 class="text-info mb-3">Testimonial</h5>
            <h2 class="mb-2 lh-base">What our customers has to say about us</h2>
          </div>
          <div class="carousel testimonial-carousel slide position-relative dark__bg-1100" id="carouselExampleIndicators" data-bs-ride="carousel">
            <div class="bg-holder d-none d-md-block" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/39.png);background-size:186px;background-position:top 20px right 20px;">
            </div>
            <!--/.bg-holder-->
            <img class="position-absolute d-none d-lg-block" src="<%= locals.context %>/asm/assets/img/bg/bg-left-22.png" width="150" alt="" style="top: -100px; left: -70px" /><img class="position-absolute d-none d-lg-block" src="<%= locals.context %>/asm/assets/img/bg/bg-right-22.png" width="150" alt="" style="bottom: -80px; right: -80px" />
            <div class="carousel-inner">
              <div class="carousel-item text-center py-8 px-5 px-xl-15 active"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span>
                <h3 class="fw-semi-bold fst-italic mt-3 mb-8 w-xl-70 mx-auto lh-base">Amazing theme, excellent support from ThemeWagon with really fast reaction time! Thank you!</h3>
                <div class="d-flex align-items-center justify-content-center gap-3 mx-auto">
                  <div class="avatar avatar-3xl ">
                    <img class="rounded-circle border border-2 border-primary" src="<%= locals.context %>/asm/assets/img/team/12.webp" alt="" />

                  </div>
                  <div class="text-start">
                    <h5>Johna Austin</h5>
                    <p class="mb-0">CEO</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center py-8 px-5 px-xl-15 false"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star-half-alt star-icon text-warning"></span>
                <h3 class="fw-semi-bold fst-italic mt-3 mb-8 w-xl-70 mx-auto lh-base">An excellent theme with fast support team to aid the development process! Thanks team Phoenix!</h3>
                <div class="d-flex align-items-center justify-content-center gap-3 mx-auto">
                  <div class="avatar avatar-3xl ">
                    <img class="rounded-circle border border-2 border-primary" src="<%= locals.context %>/asm/assets/img/team/13.webp" alt="" />

                  </div>
                  <div class="text-start">
                    <h5>Monica Gomez</h5>
                    <p class="mb-0">Founder</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center py-8 px-5 px-xl-15 false"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa-regular fa-star text-warning-300"></span>
                <h3 class="fw-semi-bold fst-italic mt-3 mb-8 w-xl-70 mx-auto lh-base">Amazing support system with quickest reply and steady communication of the concerned. Really loved working with Phoenix!</h3>
                <div class="d-flex align-items-center justify-content-center gap-3 mx-auto">
                  <div class="avatar avatar-3xl ">
                    <img class="rounded-circle border border-2 border-primary" src="<%= locals.context %>/asm/assets/img/team/14.webp" alt="" />

                  </div>
                  <div class="text-start">
                    <h5>Marc Chiasson</h5>
                    <p class="mb-0">CTO</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-indicators">
              <button class="active" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="counter-container">
        <div class="position-absolute start-0 end-0 w-100 counter-overlay" style="transform: skewY(-8deg)"></div>
        <div class="bg-holder d-none d-lg-block" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/bg-left-25.png);background-size:auto;background-position:left center;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder d-none d-lg-block" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/bg-right-25.png);background-size:auto;background-position:right center;">
        </div>
        <!--/.bg-holder-->

        <div class="position-relative">
          <div class="row gx-0 gy-8 justify-content-center">
            <div class="col-sm-6 col-md-auto me-md-5 pe-md-5 border-end-md border-dashed text-center order-1 order-md-0">
              <h1 class="fs-5 fs-lg-7 fw-bolder text-info mb-3"><span data-countup='{"endValue":2,"duration":10,"suffix":""}'></span><span>K</span></h1>
              <h4>User</h4>
            </div>
            <div class="col-sm-6 col-md-auto me-md-5 pe-md-5 border-end-md border-dashed text-center">
              <h1 class="fs-5 fs-lg-7 fw-bolder text-info mb-3" data-countup='{"endValue":3,"duration":0.5,"suffix":""}'></h1>
              <h4>Countries</h4>
            </div>
          </div>
        </div>
      </section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-soft-primary dark__bg-1000 pb-10 overflow-hidden" id="subscribe">

        <div class="px-lg-7 px-xxl-3">
          <div class="position-absolute w-100 h-100 start-0 end-0" style="bottom: -350px; transform: skewY(-8deg); background: linear-gradient(102.27deg, #ffbcca 4.69%, #640221 106.27%)"></div>
          <div class="bg-holder" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/bg-left-24.png);background-size:auto;background-position:left center;">
          </div>
          <!--/.bg-holder-->

          <div class="bg-holder" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/bg-right-24.png);background-size:auto;background-position:right center;">
          </div>
          <!--/.bg-holder-->

          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="card py-md-9 px-md-13 border-0 z-index-1 shadow-lg">
                <div class="bg-holder" style="background-image:url(<%= locals.context %>/asm/assets/img/bg/bg-38.png);background-position:center;background-size:100%;">
                </div>
                <!--/.bg-holder-->

                <div class="card-body position-relative"><img class="img-fluid mb-5 d-dark-none" src="<%= locals.context %>/asm/assets/img/spot-illustrations/37.png" width="260" alt="..." />
                  <p class="fw-bold">Get notified <span class="text-primary fs-2">.</span> when new profiles get added!</p>
                  <h1 class="fs-2 fs-sm-4 fs-lg-6 fw-bolder lh-sm mb-3">Join<span class="gradient-text-primary mx-2">Vtsm</span><span>Today</span></h1>
                  <form class="d-flex justify-content-center mb-3 px-xxl-15">
                    <div class="d-grid d-sm-block"></div>
                    <input class="form-control me-3" id="ctaEmail1" type="email" placeholder="Email" aria-describedby="ctaEmail1" />
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-1100 dark__bg-1000">

        <div class="px-lg-7 px-xxl-3">
          <div class="row gx-xxl-8 gy-5 align-items-center mb-5">
            <div class="col-xl-auto text-center"><a href="#"><img src="<%= locals.context %>/asm/assets/img/icons/logo-white.png" height="48" alt="" /></a></div>
            <div class="col-xl-auto flex-1">
              <ul class="list-unstyled d-flex justify-content-center flex-wrap mb-0 border-end-xl border-dashed border-800 gap-3 gap-xl-8 pe-xl-5 pe-xxl-8 w-75 w-md-100 mx-auto">
                <li><a class="text-300 dark__text-300" href="/web/contact-us">Contact us</a></li>
                <li><a class="text-300 dark__text-300" href="/web/news-room">Newsroom</a></li>
                <li><a class="text-300 dark__text-300" href="/web/auth/login">Login</a></li>
                <li><a class="text-300 dark__text-300" href="/web/auth/signup">Sign Up</a></li>
                <li><a class="text-300 dark__text-300" href="/web/support">Support</a></li>
                <li><a class="text-300 dark__text-300" href="/web/faq">FAQ</a></li>
              </ul>
            </div>
            <div class="col-xl-auto">
              <div class="d-flex align-items-center justify-content-center gap-8"><a class="text-white dark__text-white" href="#!"> <span class="fa-brands fa-facebook"></span></a><a class="text-white dark__text-white" href="#!"> <span class="fa-brands fa-twitter"></span></a><a class="text-white dark__text-white" href="#!"> <span class="fa-brands fa-linkedin-in"></span></a></div>
            </div>
          </div>
          <hr class="text-800" />
          <div class="d-sm-flex flex-between-center text-center">
            <p class="text-600 mb-0">Copyright 2023 &copy;<a class="mx-1" href="/">Vanniyar Thirumana Sevai Maiyam</a></p>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="<%= locals.context %>/asm/vendors/popper/popper.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/anchorjs/anchor.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/is/is.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/fontawesome/all.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="<%= locals.context %>/asm/vendors/list.js/list.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/feather-icons/feather.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/dayjs/dayjs.min.js"></script>
    <script src="<%= locals.context %>/asm/assets/js/phoenix.js"></script>
    <script src="<%= locals.context %>/asm/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/isotope-packery/packery-mode.pkgd.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/bigpicture/BigPicture.js"></script>
    <script src="<%= locals.context %>/asm/vendors/lottie/lottie.min.js"></script>
    <script src="<%= locals.context %>/asm/vendors/countup/countUp.umd.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbaQGvhe7Af-uOMJz68NWHnO34UjjE7Lo&callback=initMap" async></script>

  </body>

</html>