

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 
<meta http-equiv="Pragma" content="Public">  
<meta http-equiv="Cache-Control" content="Public">  
<meta http-equiv="Cache-Control" content="max-age=1204800">
 -->  

<!-- Bootstrap core CSS -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Quberos is a secure online platform for trading, earning transferring, and storing digital currency.">
    <meta name="keywords" content="crypto currency, bitcoin, elcc, earn bitcoin, trade and earn bitcoin, unique referral program, casino, play game and earn btc">
    <meta name="author" content="PIXINVENT">
    <title>Quberos - Buy Lots Refer Lots Earn Globally!! Quberos is a future of Trading solutions and Revenue Sharing concept with a business Plan working under a unique strategy. If earning is for a lifetime, it's here. If dreams are to be transformed into reality, Join quberos community https://quberos.com</title>
	<link rel="shortcut icon" href="<%= locals.context %>/inner/assets/images/icon-Quberos.png" type="image/x-icon">
	<link rel="icon" href="<%= locals.context %>/inner/assets/images/icon-Quberos.png" type="image/x-icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
	
	<meta property="og:title" content="Quberos - Buy Lots Refer Lots Earn Globally!! Quberos is a future of Trading solutions and Revenue Sharing concept with a business Plan working under a unique strategy. If dreams are to be transformed into reality, Join quberos community!" />
	<meta property="og:url" content="http://www.quberos.com" />
	<meta property="og:image" content="<%= locals.context %>/inner/assets/images/icon-Quberos.png" />
	<meta property="og:description" content="Quberos is a secure online platform for trading, earning transferring, and storing digital currency." />
	<meta property="og:site_name" content="Quberos" />

	<!-- <g:compress>
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/fonts/flag-icon-css/css/flag-icon.min.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/bootstrap-extended.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/news.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/app.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/core/menu/menu-types/vertical-compact-menu.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/pages/users.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/vendors/css/extensions/sweetalert.css">
		<link rel="stylesheet" type="text/css" href="${URI}app-assets/css/panel/jquery.seat-charts.css">
		<link rel="stylesheet" type="text/css" href="${URI}app-assets/css/panel/seat-style.css">
		<link rel="stylesheet" type="text/css" href="${URI}app-assets/css/plugins/forms/validation/form-validation.css">
		<link rel="stylesheet" type="text/css" href="${URI}app-assets/css/pages/project.css">
		<link rel="stylesheet" type="text/css" href="${URI}app-assets/css/plugins/loaders/loaders.min.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/core/colors/palette-loader.css">
	    <link rel="stylesheet" type="text/css" href="${URI}app-assets/css/style.css">
	</g:compress> -->
    
    <!-- <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1519042523/combined_fmaaru.css"> -->

<link href="<%= locals.context %>/inner/assets/images/icon-Quberos.png" rel="shortcut icon" type="image/x-icon">
<link href="<%= locals.context %>/inner/assets/images/icon-Quberos.png" rel="icon" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="<%= locals.context %>/inner/assets/css/icons.css">

<!-- v2.0.0 -->
<link rel="stylesheet" type="text/css" href="<%= locals.context %>/inner/assets/css/icomoon.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581609920/quberos/inner/assets/vendors/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581609967/quberos/inner/assets/vendors/perfect-scrollbar/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581609961/quberos/inner/assets/vendors/bootstrap-sweetalert/dist/sweetalert.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581609963/quberos/inner/assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="<%= locals.context %>/inner/assets/vendors/font-linearicons/style.css">
<link rel="stylesheet" type="text/css" href="<%= locals.context %>/inner/assets/vendors/font-icomoon/style.css">

<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/core/common/core.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/core/widgets/widgets.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/vendors/common/vendors.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/settings/common/settings.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/settings/themes/themes.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/menu-left/common/menu-left.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/menu-right/common/menu-right.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/top-bar/common/top-bar.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/footer/common/footer.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/pages/common/pages.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/ecommerce/common/ecommerce.cleanui.css">
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dradavcfw/raw/upload/v1581610566/quberos/inner/assets/components/apps/common/apps.cleanui.css">

<link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<!-- <link rel="stylesheet" type="text/css" href="<%= locals.context %>/inner/assets/css/loaders.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="<%= locals.context %>/inner/assets/css/style.css">

<script src="<%= locals.context %>/inner/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
