<div class="menu-right">
    <div class="menu-right__inner">
        <div class="menu-right__header">
            <span class="fa fa-times pull-right menu-right__action--menu-toggle"><!-- --></span>
            Theme Settings
        </div>
        <div class="menu-right__content">
            <div class="menu-right__descr">
                This module "block-menu-right" gives possibility to construct custom blocks with any widgets, components and elements inside, like this theme settings
            </div>
            <div class="menu-right__label">
                Theme Style
            </div>
            <div class="menu-right__setting menu-right--example-option">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-theme" value=""> Dark
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-theme" value="theme--light"> Light
                        </label>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-theme" value="theme--green"> Green
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-theme" value="theme--blue"> Blue
                        </label>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-theme" value="theme--red"> Red
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-theme" value="theme--orange"> Orange
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu-right__label">
                Boxed Layout
            </div>
            <div class="menu-right__setting menu-right--example-option">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-boxed" value="config--boxed"> On
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-boxed" value=""> Off
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu-right__label">
                Fixed Top Bar
            </div>
            <div class="menu-right__setting menu-right--example-option">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-topbar" value=""> On
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-topbar" value="config--unfixed"> Off
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu-right__label">
                Borderless Cards
            </div>
            <div class="menu-right__setting menu-right--example-option">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-borderLess" value="config--borderLess"> On
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-borderLess" value=""> Off
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu-right__label">
                Colorful Menu
            </div>
            <div class="menu-right__setting menu-right--example-option">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-colorful" value="menu-left--colorful"> On
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-colorful" value=""> Off
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu-right__label">
                Menu Shadow
            </div>
            <div class="menu-right__setting menu-right--example-option">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-shadow" value="menu-left--shadow"> On
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-shadow" value=""> Off
                        </label>
                    </div>
                </div>
            </div>
            <div class="menu-right__label">
                Squared Corners
            </div>
            <div class="menu-right__setting menu-right--example-option">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-corners" value="config--squared-corners"> On
                        </label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default">
                            <input type="radio" name="options-corners" value=""> Off
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="menu-left">
    <div class="menu-left__lock menu-left__action--menu-toggle">
        <div class="menu-left__pin-button">
            <div><!-- --></div>
        </div>
    </div>
    <div class="menu-left__logo">
        <a href="/">
            <img src="<%= locals.context %>/inner/assets/images/logo-inverse.png" alt="Quberos Logo White" />
        </a>
    </div>
    <div class="menu-left__inner">
        <ul class="menu-left__list menu-left__list--root navigation-main">
            <li class="menu-left__item nav-item-link menu-left__item--active"  data-url="/web/auth/index">
                <a href="/web/auth/index">
				    <span class="menu-left__icon icmn-stats-dots"></span>
                    Dashboard
                </a>
            </li>
            
            <li id="share-units-li" class="nav-item menu-left__item menu-left__submenu">
                <a href="javascript: void(0);">
                    <span class="menu-left__icon icmn-list"></span>
                    Trade Wallet
                </a>
                <ul class="menu-left__list menu-content">
                    <li class="menu-left__item nav-item-link" data-parent="share-units-li" data-url="/web/points/buy">
                        <a href="/web/points/buy" class="menu-item" id="buy-units">
                            <span class="menu-left__icon icmn-cart"></span>
                            Purchase Points
                        </a>
                    </li>
                    <li class="menu-left__item nav-item-link" data-parent="share-units-li" data-url="/web/points/buy/units">
                            <a href="/web/points/buy/units" class="menu-item" id="add-wallet">
                                <span class="menu-left__icon icmn-point-up"></span>
                                Buy Lots 
                            </a>
                    </li>
                    <li class="menu-left__item nav-item-link" data-parent="share-units-li" data-url="/web/points/transfer/points">
                        <a href="/web/points/transfer/points" class="menu-item" id="transfer-points">
                            <span class="menu-left__icon icmn-point-up"></span>
                            Transfer Points
                        </a>
                    </li>
                </ul>
            </li>

            <li id="my-wallet-li" class="nav-item menu-left__item menu-left__submenu">
                <a href="javascript: void(0);">
                    <span class="menu-left__icon icmn-user"></span>
                    Cash Wallet
                </a>
                <ul class="menu-left__list menu-content">
                    <li class="menu-left__item nav-item-link" data-parent="my-wallet-li" data-url="/web/wallet/transactions" id="wallet-transactions">
                        <a href="/web/wallet/transactions" class="menu-item">
                            <span class="menu-left__icon icmn-files-empty"></span>
                            Transactions
                        </a>
                    </li>
                    <!-- <li class="menu-left__item nav-item-link" data-parent="my-wallet-li" data-url="/web/wallet/withdraw">
                        <a href="/web/wallet/withdraw" class="menu-item">
                            <span class="menu-left__icon icmn-download"></span>
                            Withdraw 
                        </a>
                    </li> -->
                </ul>
            </li>
            
            <li class="menu-left__item nav-item-link" data-url="/web/wallet/internal/transfer">
                <a href="/web/wallet/internal/transfer">
				    <span class="menu-left__icon icmn-download"></span>
                    Internal Transfer
                </a>
            </li>

            <li class="menu-left__item nav-item-link" data-url="/web/wallet/withdraw">
                <a href="/web/wallet/withdraw">
				    <span class="menu-left__icon icmn-download"></span>
                    Withdraw
                </a>
            </li>

            <li id="gainer-li" class="nav-item menu-left__item menu-left__submenu">
                <a href="javascript: void(0);">
                    <span class="menu-left__icon icmn-users"></span>
                    Network
                </a>
                <ul class="menu-left__list menu-content">
                    <li class="menu-left__item nav-item-link" data-parent="tree-li" data-url="/web/downline/tree">
                        <a href="/web/downline/tree" class="menu-item" id="downline-tree">
                            <span class="menu-left__icon icmn-tree"></span>
                            Genealogy
                        </a>
                    </li>
                    <li class="menu-left__item nav-item-link" data-parent="tree-li" data-url="/web/downline/direct/tree">
                        <a href="/web/downline/direct/tree" class="menu-item" id="downline-tree">
                            <span class="menu-left__icon icmn-tree"></span>
                            Rank Genealogy<span class="ml-2 badge badge-danger">New</span>
                        </a>
                    </li>
                    <li class="menu-left__item nav-item-link" data-parent="tree-li" data-url="/web/downline/directs">
                        <a href="/web/downline/directs" class="menu-item" id="downline-tree">
                            <span class="menu-left__icon icmn-tree"></span>
                            My Directs
                        </a>
                    </li>
                </ul>
            </li>
            
            <li id="account-li" class="nav-item menu-left__item menu-left__submenu">
                <a href="javascript: void(0);">
                    <span class="menu-left__icon icmn-profile"></span>
                    Profile
                </a>
                <ul class="menu-left__list menu-content">
                    <li class="menu-left__item nav-item-link" data-parent="account-li" data-url="<%= locals.context %>/account/profile">
                        <a href="/web/profile/index" class="menu-item">
                            <span class="menu-left__icon icmn-newspaper"></span>
                            Profile Info
                        </a>
                    </li>
                    <li class="menu-left__item nav-item-link" data-parent="account-li" data-url="/web/profile/password">
                        <a href="/web/profile/password" class="menu-item">
                            <span class="menu-left__icon icmn-key"></span>
                            Password Update
                        </a>
                    </li>
                    <!-- <li class="menu-left__item nav-item-link" data-parent="account-li" data-url="<%= locals.context %>/account/txn/password/update">
                        <a href="#transaction-password" class="menu-item">
                            <span class="menu-left__icon icmn-key2"></span>
                            Transaction Password
                        </a>
                    </li> -->
                </ul>
            </li>
            
            <li class="menu-left__item nav-item-link" data-url="/web/support/tickets/view">
                <a href="/web/support/details">
				    <span class="menu-left__icon icmn-phone"></span>
                    Support Ticket
                </a>
            </li>

            <!-- <li class="menu-left__item nav-item-link" data-url="<%= locals.context %>/general/referral/link">
                <a href="#referral">
				    <span class="menu-left__icon icmn-share"></span>
                    Referral Link
                </a>
            </li> -->

            <!--<li class="menu-left__item nav-item-link" data-url="<%= locals.context %>/general/faq">
                <a href="#faq">
				    <span class="menu-left__icon icmn-question"></span>
                    FAQ
                </a>
            </li>-->

            <!-- 
            
            <li class="menu-left__item <c:if test="${selectedMenuGroup eq 'home'}"><c:out value='menu-left__item--active' /></c:if>">
                <a href="<%= locals.context %>/login" target="_self">
				    <span class="menu-left__icon icmn-home"></span>
                    Home
                </a>
            </li> -->

            <li class="menu-left__divider"><!-- --></li>

        </ul>
    </div>
</nav>
