

<div aria-hidden="true" class="header"></div>
<div class="row area--green-blue header-home">
    <div class="container-fluid header-rows  text--light ">
        <div class="row  ">
            <div class="inner-container area--padding-large">
                <div class="row align-items-none">
                    <div class="col d-md-none  col-12 zero text-left    
       px-0 py-20
      
      ">
                        <div class="col-spacer--top" aria-hidden="true"></div>
                        <div baseForCentering class="overlap overlap-tbbd      d-none d-md-block">
                            <div class="overlap overlap-tdbd overlap-text-bottom bg-size-cover
                  bg--position-center-center  "
                                style="background-image: url('https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg')"
                                title="Image"></div>
                        </div>
                        <div class="d-md-none">
                            <div class="column__image-container ">
                                <img data-src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg"
                                    data-sizes="(max-width: 480px) 100vw, (max-width: 1160px) 100vw, 1960px"
                                    data-srcset="
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 490w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 647w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 980w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 1470w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 1960w 
      " alt="Image" title="Image" data-lazy class=" column__image  column__image--center column__image--full-width" />
                                <noscript>
                                    <img src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg" alt="Image" title="Image"
                                        class=" column__image  column__image--center column__image--full-width" />
                                </noscript>
                            </div>
                        </div>
                    </div>
                    <div class="col  col-md-5 col-12 zero text-left    
      
      
      ">
                        <div class="col-spacer--top" aria-hidden="true"></div>
                        <div class="rich-text text-left mt-5">
                            <h1>
                                <strong>Quberos the crypto earning platform</strong>
                            </h1>
                            <p class="body-big">
                                Quberos is one of the most transformative technologies since the invention of the
                                Internet. Quberos stands firmly in support of financial freedom and the liberty that
                                Bitcoin provides globally for anyone to voluntarily participate in a permissionless and
                                decentralized network.
                            </p>
                            <ul>
                                <li>Which empowers people to not be marginalized by governments and financial
                                    institutions.If you are going to use a passage of Lorem Ipsum, you need to be sure
                                    there isn't anything embarrassing hidden in the middle of text.</li>
                            </ul>
                        </div>
                        <!--<div class="column-buttons">
                                        <a class="btn black-primary " href="#explore" data-button
                                            data-tracking-text="Explore"> Explore </a> <a
                                            class="btn black-tertiary " href="/#contact/sales" data-button
                                            data-tracking-text="Get in touch"> Get in touch <span
                                            class="adyen-link-arrow"></span>
                                        </a>
                                    </div>-->
                    </div>
                    <div class="col d-none d-md-block col-md-7 col-12 zero text-left    
      
      
      ">
                        <div class="col-spacer--top" aria-hidden="true"></div>
                        <div baseForCentering class="overlap overlap-tbbb  overlap-snap-to-right    d-none d-md-block">
                            <div class="overlap overlap-tdbd overlap-text-bottom bg-size-cover
                  bg--position-center-center  "
                                style="background-image: url('https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg')"
                                title="Person returning gift in store"></div>
                        </div>
                        <div class="d-md-none">
                            <div class="column__image-container ">
                                <img data-src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg"
                                    data-sizes="(max-width: 480px) 100vw, (max-width: 1160px) 58vw, 1960px" data-srcset="
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 490w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 647w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 980w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 1470w, 
                  https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg 1960w 
      " alt="Person returning gift in store" title="Person returning gift in store" data-lazy
                                    class=" column__image  column__image--center column__image--full-width" />
                                <noscript>
                                    <img src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/banner.jpg"
                                        alt="Person returning gift in store" title="Person returning gift in store"
                                        class=" column__image  column__image--center column__image--full-width" />
                                </noscript>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row area--white ">
    <div class="inner-container area--padding-none area--nb">
        <div class="row ">
            <div class="col  col-12 zero col--nb">
                <div class="row logobar__logo-container">
                    <div class="col col-md-2 col-4
                                  
                                  
                                  
                                  text-center logobar__logo">
                        <img data-lazy data-src="<%= locals.context %>/assets/images/exchanges/kucoin.png" data-srcset="
                  <%= locals.context %>/assets/images/exchanges/kucoin.png 40w, 
                  <%= locals.context %>/assets/images/exchanges/kucoin.png 53w, 
                  <%= locals.context %>/assets/images/exchanges/kucoin.png 80w, 
                  <%= locals.context %>/assets/images/exchanges/kucoin.png 120w, 
                  <%= locals.context %>/assets/images/exchanges/kucoin.png 160w 
      " alt="Kucoin logo" title="Kucoin logo">
                        <noscript>
                            <img src="<%= locals.context %>/assets/images/exchanges/kucoin.png" alt="Kucoin logo"
                                title="Kucoin logo">
                        </noscript>
                    </div>
                    <div class="col col-md-2 col-4
                                  
                                  
                                  
                                  text-center logobar__logo">
                        <img data-lazy data-src="<%= locals.context %>/assets/images/exchanges/binance.png" data-srcset="
                                  <%= locals.context %>/assets/images/exchanges/binance.png 40w, 
                                  <%= locals.context %>/assets/images/exchanges/binance.png 53w, 
                                  <%= locals.context %>/assets/images/exchanges/binance.png 80w, 
                                  <%= locals.context %>/assets/images/exchanges/binance.png 120w, 
                                  <%= locals.context %>/assets/images/exchanges/binance.png 160w 
                      " alt="Binance logo" title="Binance logo">
                        <noscript>
                            <img src="<%= locals.context %>/assets/images/exchanges/binance.png" alt="Binance logo"
                                title="Binance logo">
                        </noscript>
                    </div>
                    <div class="col col-md-2 col-4
                                  
                                  
                                  
                                  text-center logobar__logo">
                        <img data-lazy data-src="<%= locals.context %>/assets/images/exchanges/huobi.png" data-srcset="
                  <%= locals.context %>/assets/images/exchanges/huobi.png 40w, 
                  <%= locals.context %>/assets/images/exchanges/huobi.png 53w, 
                  <%= locals.context %>/assets/images/exchanges/huobi.png 80w, 
                  <%= locals.context %>/assets/images/exchanges/huobi.png 120w, 
                  <%= locals.context %>/assets/images/exchanges/huobi.png 160w 
      " alt="Huobi logo" title="Huobi logo">
                        <noscript>
                            <img src="<%= locals.context %>/assets/images/exchanges/huobi.png" alt="Huobi logo"
                                title="Huobi logo">
                        </noscript>
                    </div>
                    <div class="col col-md-2 col-4
                                  
                                  
                                  
                                  text-center logobar__logo">
                        <img data-lazy data-src="<%= locals.context %>/assets/images/exchanges/bittrex.png" data-srcset="
                  <%= locals.context %>/assets/images/exchanges/bittrex.png 40w, 
                  <%= locals.context %>/assets/images/exchanges/bittrex.png 53w, 
                  <%= locals.context %>/assets/images/exchanges/bittrex.png 80w, 
                  <%= locals.context %>/assets/images/exchanges/bittrex.png 120w, 
                  <%= locals.context %>/assets/images/exchanges/bittrex.png 160w 
      " alt="Bittrex logo" title="Bittrex logo">
                        <noscript>
                            <img src="<%= locals.context %>/assets/images/exchanges/bittrex.png" alt="Bittrex logo"
                                title="Bittrex logo">
                        </noscript>
                    </div>
                    <div class="col col-md-2 col-4
                                  
                                  
                                  
                                  text-center logobar__logo">
                        <img data-lazy data-src="<%= locals.context %>/assets/images/exchanges/coinbase.png"
                            data-srcset="
                  <%= locals.context %>/assets/images/exchanges/coinbase.png 40w, 
                  <%= locals.context %>/assets/images/exchanges/coinbase.png 53w, 
                  <%= locals.context %>/assets/images/exchanges/coinbase.png 80w, 
                  <%= locals.context %>/assets/images/exchanges/coinbase.png 120w, 
                  <%= locals.context %>/assets/images/exchanges/coinbase.png 160w 
      " alt="Coinbase logo" title="Coinbase logo">
                        <noscript>
                            <img src="<%= locals.context %>/assets/images/exchanges/coinbase.png" alt="Coinbase logo"
                                title="Coinbase logo">
                        </noscript>
                    </div>
                    <div class="col col-md-2 col-4
                                  
                                  
                                  
                                  text-center logobar__logo">
                        <img data-lazy data-src="<%= locals.context %>/assets/images/exchanges/bitfinex.png"
                            data-srcset="
                  <%= locals.context %>/assets/images/exchanges/bitfinex.png 40w, 
                  <%= locals.context %>/assets/images/exchanges/bitfinex.png 53w, 
                  <%= locals.context %>/assets/images/exchanges/bitfinex.png 80w, 
                  <%= locals.context %>/assets/images/exchanges/bitfinex.png 120w, 
                  <%= locals.context %>/assets/images/exchanges/bitfinex.png 160w 
      " alt="Bitfinex logo" title="Bitfinex logo">
                        <noscript>
                            <img src="<%= locals.context %>/assets/images/exchanges/bitfinex.png" alt="Bitfinex logo"
                                title="Bitfinex logo">
                        </noscript>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row area--white " id="explore">
    <div class="inner-container mt-2">
        <div class="row ">
            <div class="col  col-md-5 col-12 zero text-left col--nb">
                <div class="col-spacer--top" aria-hidden="true"></div>
                <div class="mb-4">
                    <div class="sharethis-inline-share-buttons"></div>
                    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e4f3b3b6c05e9001274f3f3&cms=website' async='async'></script>
                </div>
                <div class="rich-text text-left">
                    <h2><strong>Create seamless trading experiences</strong></h2>
                    <p class="body-big">Trade everywhere, on any day with a one stop crypto solution.
                    </p>
                </div>
            </div>
            <div class="col col-md-4 col-12 offset-md-1 text-left col--nb">
                <div class="col-spacer--top" aria-hidden="true"></div>
            </div>
            <div class="col  col-md-3 col-12 zero text-left col--nb">
                <div class="col-spacer--top" aria-hidden="true"></div>
                <div class="column__image-container ">
                    <img width="40" alt="Marketplace icon" title="Marketplace icon" data-lazy=""
                        class="image--margin-bottom column__image  pull-left column__image--original-width"
                        src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/marketpay-icon-green-svg.svg"
                        sizes="(max-width: 480px) 40px, (max-width: 1160px) 40px, 40px" srcset="
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/marketpay-icon-green-svg.svg 10w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/marketpay-icon-green-svg.svg 14w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/marketpay-icon-green-svg.svg 20w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/marketpay-icon-green-svg.svg 30w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/marketpay-icon-green-svg.svg 40w 
                    " style="display: block;">
                    <noscript>
                        <img src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/marketpay-icon-green-svg.svg" width="40"
                            alt="Marketplace icon" title="Marketplace icon"
                            class="image--margin-bottom column__image  pull-left column__image--original-width" />
                    </noscript>
                </div>
                <div class="rich-text text-left">
                    <h4><strong>Trading</strong></h4>
                    <p>Grow and simplify your platform trading setup with Quberos for Platforms.</p>
                </div>
            </div>
            <div class="col  col-md-3 col-12 zero text-left    
                    
                    
                     col--nb">
                <div class="col-spacer--top" aria-hidden="true"></div>
                <div class="column__image-container ">
                    <img width="40" alt="Recurring payments icon" title="Recurring payments icon" data-lazy=""
                        class="image--margin-bottom column__image  pull-left column__image--original-width"
                        src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/recurring-icon-green.svg"
                        sizes="(max-width: 480px) 40px, (max-width: 1160px) 40px, 40px" srcset="
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/recurring-icon-green.svg 10w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/recurring-icon-green.svg 14w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/recurring-icon-green.svg 20w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/recurring-icon-green.svg 30w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/recurring-icon-green.svg 40w 
                    " style="display: block;">
                    <noscript>
                        <img src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608738/quberos/assets/images/recurring-icon-green.svg" width="40"
                            alt="Recurring payments icon" title="Recurring payments icon"
                            class="image--margin-bottom column__image  pull-left column__image--original-width" />
                    </noscript>
                </div>
                <div class="rich-text text-left">
                    <h4><strong>Recurring payments</strong></h4>
                    <p>Keep customers coming back for more with recurring earnings&nbsp;payments.</p>
                </div>
            </div>
            <div class="col  col-md-3 col-12 zero text-left    
                    
                    
                     col--nb">
                <div class="col-spacer--top" aria-hidden="true"></div>
                <div class="column__image-container ">
                    <img width="40" alt="Mobile icon" title="Mobile icon" data-lazy=""
                        class="image--margin-bottom column__image  pull-left column__image--original-width"
                        src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/mobile-icon-green-svg.svg"
                        sizes="(max-width: 480px) 40px, (max-width: 1160px) 40px, 40px" srcset="
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/mobile-icon-green-svg.svg 10w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/mobile-icon-green-svg.svg 14w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/mobile-icon-green-svg.svg 20w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/mobile-icon-green-svg.svg 30w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/mobile-icon-green-svg.svg 40w 
                    " style="display: block;">
                    <noscript>
                        <img src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/mobile-icon-green-svg.svg" width="40"
                            alt="Mobile icon" title="Mobile icon"
                            class="image--margin-bottom column__image  pull-left column__image--original-width" />
                    </noscript>
                </div>
                <div class="rich-text text-left">
                    <h4><strong>Trading Experience</strong></h4>
                    <p>Feel seamless trading experience, web and mobile trading experiences.</p>
                </div>
            </div>
            <div class="col  col-md-3 col-12 zero text-left    
                    
                    
                     col--nb">
                <div class="col-spacer--top" aria-hidden="true"></div>
                <div class="column__image-container ">
                    <img width="40" alt="Green icon" title="Green icon" data-lazy=""
                        class="image--margin-bottom column__image  pull-left column__image--original-width"
                        src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/omnichannel-icon-green-svg.svg"
                        sizes="(max-width: 480px) 40px, (max-width: 1160px) 40px, 40px" srcset="
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/omnichannel-icon-green-svg.svg 10w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/omnichannel-icon-green-svg.svg 14w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/omnichannel-icon-green-svg.svg 20w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/omnichannel-icon-green-svg.svg 30w, 
                                https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/omnichannel-icon-green-svg.svg 40w 
                    " style="display: block;">
                    <noscript>
                        <img src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/omnichannel-icon-green-svg.svg"
                            width="40" alt="Green icon" title="Green icon"
                            class="image--margin-bottom column__image  pull-left column__image--original-width" />
                    </noscript>
                </div>
                <div class="rich-text text-left">
                    <h4><strong>Unified View</strong></h4>
                    <p>Provide consistent earning experiences.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row read-more-area area--">
    <div class="inner-container">
        <h2 class="read-more-area-title">
            <p>
                <strong>Our Stories</strong>
            </p>
        </h2>
        <div class="clearfix">
            <div class="read-more-area-item read-more-area-item--small">
                <a class="read-more-area-item-link" href="#/blog/bonobos-case-study-the-future-of-retail-is-personal">
                    <span class="read-more-area-item-image"
                        style="background-image: url(https://res.cloudinary.com/dradavcfw/image/upload/v1581607498/quberos/assets/images/b2.jpg);"
                        title="People in a retail store">
                    </span>
                    <h3 class="text--dark font-weight-bold">Blockchain meetup:</h3>
                    <span class="text--dark">
                        <p>
                            World's Biggest Vessel Opens Gates for 2019 Blockchain Cruise.<br /> &nbsp;
                        </p>
                    </span> <span class="link">Read case study ›</span>
                </a>
            </div>
            <div class="read-more-area-item read-more-area-item--large">
                <a class="read-more-area-item-link" href="#/blog/5-insights-from-andy-wiggan-head-of-payments-spotify">
                    <span class="read-more-area-item-image"
                        style="background-image: url(https://res.cloudinary.com/dradavcfw/image/upload/v1581607498/quberos/assets/images/b1.jpg);"
                        title="Person singing on microphone"> <img class="read-more-area-item-logo"
                            src="https://res.cloudinary.com/dradavcfw/image/upload/v1581608737/quberos/assets/images/logo.png" alt="Bitfinex logo"
                            style="height: 44px;" />
                    </span>
                    <h3 class="text--dark font-weight-bold">
                        Deep Insights, Quberos</h3> <span class="text--dark">
                        <p>
                            Blockchain, one of the world’s largest cryptocurrency wallet platforms, says it’s launched a
                            digital currency exchange aimed at delivering “lightning-fast” trades.<br /> &nbsp;
                        </p>
                    </span> <span class="link">Read case study ›</span>
                </a>
            </div>
            <div class="read-more-area-item read-more-area-item--small">
                <a class="read-more-area-item-link"
                    href="#/blog/de-bijenkorf-delighting-luxury-shoppers-with-personalization-in-store">
                    <span class="read-more-area-item-image"
                        style="background-image: url(https://res.cloudinary.com/dradavcfw/image/upload/v1581607498/quberos/assets/images/b3.jpg);"
                        title="Person making a payment">
                    </span>
                    <h3 class="text--dark font-weight-bold">The largest blockchain conference in the NW.</h3> <span
                        class="text--dark">
                        <p>
                            Home to Amazon, Microsoft, Bittrex and now over twenty blockchain startups, Seattle has
                            fostered technological innovation and entrepreneurship for decades. We are organizing our
                            annual event to be held in the tech capital of the Pacific Northwest, Seattle. This is an
                            accessible & inclusive event for blockchain beginners to advanced level topics. We invite
                            you to join us!<br />
                            &nbsp;
                        </p>
                    </span> <span class="link">Read case study ›</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row area--green-blue ">
    <div class="inner-container area--padding-large area--nb">
        <div class="row align-items-none">
            <div class="col   col-12 zero text-center    
      
      
       col--nb">
                <div class="col-spacer--top" aria-hidden="true"></div>
                <div class="rich-text text-center">
                    <h2>
                        <span style="color: #ffffff"><strong>Want to
                                learn more?</strong></span>
                    </h2>
                </div>
                <div class="column-buttons">
                    <a class="btn black-primary " href="/#contact/sales" data-button data-tracking-text="Contact sales">
                        Contact sales </a> <a class="btn black-tertiary " href="/#newsletter" data-button
                        data-tracking-text="Newsletter sign up"> Newsletter sign up
                        <span class="adyen-link-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="row footer area--dark" data-si="main-footer">
    <div class="inner-container footer-inner">
        <div class="row">
            <div class="col col-md-3 col-6 footer__linklist">
                <ul class="footer__linklist-sublist">
                    <li class=footer-title><a href="/#" class="footer-link">Quberos</a>
                    </li>
                    <li><a href="/#about" class="footer-link">About</a></li>
                    <li><a href="/#careers" class="footer-link">Careers</a></li>
                    <li><a href="/#policies-and-disclaimer/applicant-privacy-notice" class="footer-link">Applicant
                            Privacy Notice</a></li>
                    <li><a href="/#blog" class="footer-link">Blog</a></li>
                    <li><a href="/#press-and-media" class="footer-link">Press
                            &amp; Media</a></li>
                    <li><a href="/#contact" class="footer-link">Contact</a></li>
                    <li><a href="/#policies-and-disclaimer/impressum" class="footer-link"></a></li>
                    <li><a href="/#investor-relations" class="footer-link">Investor
                            Relations</a></li>
                </ul>
            </div>
            <div class="col col-md-3 col-6 footer__linklist">
                <ul class="footer__linklist-sublist">
                    <li class=footer-title><a href="/#unified-commerce" class="footer-link">Our solution</a></li>
                    <li><a href="/#partners" class="footer-link">Partners</a></li>
                    <li><a href="/#pricing" class="footer-link">Pricing</a></li>
                    <li><a href="/#our-solution/reporting" class="footer-link">Reporting</a>
                    </li>
                </ul>
            </div>
            <div class="col col-md-3 col-6 footer__linklist">
                <ul class="footer__linklist-sublist">
                    <li class=footer-title><a href="/#knowledge-hub" class="footer-link">Knowledge Hub</a></li>
                    <li><a href="http://support.quberos.com/hc/en-us" target="_blank" class="footer-link">Support</a>
                    </li>
                    <li><a href="http://docs.quberos.com/developers" target="_blank"
                            class="footer-link">Documentation</a></li>
                    <li><a href="/#why-do-i-see-adyen-on-my-bank-statement" class="footer-link">Info for shoppers</a>
                    </li>
                    <li><a href="http://medium.com/adyen" target="_blank" class="footer-link">Tech blog</a></li>
                </ul>
            </div>
            <div class="col col-md-3 col-6 footer__linklist">
                <ul class="footer__linklist-sublist">
                    <li class=footer-title><a href="/#platform" class="footer-link">Platform</a></li>
                    <li><a href="/#platform/infrastructure" class="footer-link">Infrastructure</a>
                    </li>
                    <li><a href="/#platform/certifications" class="footer-link">Certifications</a>
                    </li>
                    <li><a href="/#platform/licenses" class="footer-link">Licenses</a>
                    </li>
                    <li><a href="/#legal/terms-and-conditions" class="footer-link">Terms &amp; Conditions</a></li>
                    <li><a href="/#legal" class="footer-link">Legal</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
                <div class="footer__sub-text col col-12 col-md-4">
                    <a href="/#newsletter" class="footer-link">Receive our
                        newsletter</a>
                </div>
                <div class="footer__sub-text col col-12 col-md-8 text-md-right">
                    <a class="footer-link" href="/#policies-and-disclaimer/privacy-policy">Privacy</a> - <a
                        class="footer-link" href="/#policies-and-disclaimer/cookie-policy">Cookies</a>
                    - <a class="footer-link" href="/#policies-and-disclaimer/disclaimer">Disclaimer</a> - <span
                        class="footer-title">&copy;2019 Quberos</span>
                </div>
            </div>
    </div>
</footer>
<div id="search-modal" class="adl-overlay row" style="width: auto" data-si="false">
    <div class="adl-modal">
        <a href="#close" class="adl-modal__close"><i class="adl-icon-ui-close"></i></a>
        <div class="search-algolia">
            <p class="search-algolia__error" id="credit-card-error-message">Are
                you looking for test card numbers?</p>
            <p class="search-algolia__error" id="email-error-message">
                Would you like to contact <a href="http://support.quberos.com/">support</a>?
            </p>
            <div class="container-fluid">
                <div class="row">
                    <main class="col-12 col-md-7">
                        <div class="search-algolia__results-placeholder">
                            <h2>Start searching the Quberos website...</h2>
                        </div>
                        <h2 class="search-algolia__section-title pt-0">
                            <i class="adl-icon-world"></i>&nbsp; <span>Website</span>
                        </h2>
                    </main>
                    <aside class="col-12 col-md-5">
                        <h2 id="search-algolia__blog__title" class="search-algolia__section-title">

                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                                style="enable-background: new 0 0 30 30; width: 30px; height: 30px; margin-right: 12px"
                                xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #00112C;
                                    }
                                </style>
                                <g>
                                    <path class="st0"
                                        d="M1,3h38c0.6,0,1-0.4,1-1s-0.4-1-1-1H1C0.4,1,0,1.4,0,2S0.4,3,1,3z" />
                                    <path class="st0"
                                        d="M39,10H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h38c0.6,0,1-0.4,1-1S39.6,10,39,10z" />
                                    <path class="st0"
                                        d="M39,19H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h38c0.6,0,1-0.4,1-1S39.6,19,39,19z" />
                                    <path class="st0"
                                        d="M39,28h-1l0.4-0.4c0.8-0.8,0.8-2,0-2.8l-2.8-2.8c-0.4-0.4-0.9-0.6-1.4-0.6c0,0,0,0,0,0c-0.5,0-1,0.2-1.4,0.6
                                          L26.7,28H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h23.7l-2.3,2.3c-0.3,0.3-0.5,0.7-0.6,1.1l-0.5,3.3c0,0.1,0,0.2,0,0.3H1c-0.6,0-1,0.4-1,1
                                          s0.4,1,1,1h22c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.2,0c0.1,0,0.2,0,0.3,0l3.3-0.5l0,0c0.4-0.1,0.8-0.3,1.1-0.6L36,30h3c0.6,0,1-0.4,1-1
                                          S39.6,28,39,28z M34.2,23.3l2.1,2.1c0.4,0.4,0.4,1,0,1.4l-1.4,1.4l-2.1-2.1c-0.4-0.4-0.4-1,0-1.4L34.2,23.3z M26.7,36.5
                                          C26.7,36.5,26.7,36.5,26.7,36.5L23.4,37l0.5-3.3l6.8-6.8l2.1,2.1c0.4,0.4,0.4,1,0,1.4L26.7,36.5z" />
                                </g>
                            </svg>
                            &nbsp;<span>Blog</span>
                        </h2>
                        <h2 id="search-algolia__docs-grav__title" class="search-algolia__section-title pt-0">
                            <i class="adl-icon-document-filled"></i>&nbsp; <span>Documentation</span>
                        </h2>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>