<div class="utils__content">

    <div class="card utils__card-with-sidebar utils__card-with-sidebar--right">
            <div class="card-body">
                <div class="model-form-wrapper">
                    <div class="crypto__form">
                        <%- include('../common/message') %>

                        <form id="admin-profile-form" data-url="/web/admin/profile/update" data-title="Update Profile" data-method="POST" data-form="true" data-message="true">
                            <div class="form-group">
                                <div class="infoCard infoCard--whiteFont bg-success"><strong>User Name : </strong><label class="white" id="available"><%= user.userName %></label></div>
                            </div>
                            <div class="form-group">
                                <label for="orderType" class="crypto__formLabel">First Name</label>
                                <input type="text" id="full-name" class="form-control" class="txt-success" placeholder="First Name" name="firstName" value="<%= user.firstName %>">
                                <input type="hidden" id="full-name" class="form-control" class="txt-success" name="userId" value="<%= user._id %>">
                            </div>
                            <div class="form-group">
                                <label for="orderType" class="crypto__formLabel">Last Name</label>
                                <input type="text" id="full-name" class="form-control" placeholder="Last Name" name="lastName" value="<%= user.lastName %>">
                            </div>    
                            <div class="form-group">
                                <label for="orderQuantity" class="crypto__formLabel">Mobile Number</label>
                                <input type="number" id="mobile-number" class="form-control" placeholder="Mobile Number" name="phoneNo" value="<%= user.phoneNo %>">
                            </div>
                            <div class="form-group">
                                <label for="orderQuantity" class="crypto__formLabel">Email Address</label>
                                <input type="email" id="emailAddress" class="form-control" placeholder="Email Address" name="emailAddress" value="<%= user.emailAddress %>">
                            </div>    
                            <div class="form-group">
                                <input type="submit" class="w-100 btn btn-success text-uppercase" id="update-profile"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var context = '${context}';

		$('#admin-profile-form').submit(function(e){
			e.preventDefault();
			e.stopPropagation();
			$('#admin-profile-form').LoadingOverlay("show");
			$("#update-profile").attr("disabled", true);
			var lwUrl = '/web/admin/profile/update';
			var formElement = $('#admin-profile-form');
            var data = $(formElement).serialize();

			 $.ajax({
	            url: lwUrl,
	            type: 'POST',
	            data : data,
	            processData: false,
	            error: function (err) {
	                console.info('err = ', err);
	                $("#update-profile").attr("disabled", false);
	                $('#admin-profile-form').LoadingOverlay("hide");
	            },
	            success: function (results) {
            		console.info('results = ', results);
            		//$('#modal-container').html(results);
	            	$("#update-profile").attr("disabled", false);
	            	$('#admin-profile-form').LoadingOverlay("hide");
	            	swal("Success!", "You have updated successfully", "success");
	            	setTimeout(function(){ location.href = location.href; }, 1000);
	            }
			 });
		});		
	});
</script>